<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Side Picker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <form @submit.prevent="assignSides">
            <label for="names">Names:</label>
            <textarea class="form-control" v-model="names" id="names" rows="8" ></textarea>
            <button type="submit">Assign sides</button>
        </form>
        <br><br>
        <div style="display: grid; grid-template-columns: 1fr 1fr;">
            <div v-if="blues.length > 0"  class="blue">
                <h1>Team Blue</h1>
                <div v-for="(blue, index) in blues" :key="index">{{ blue }}</div>
            </div>
            <div v-if="reds.length > 0" class="red">
                <h1>Team Red</h1>
                <div v-for="(red, index) in reds" :key="index">{{ red }}</div>
            </div>
        </div>



    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="app.js">

    </script>

</body>

</html>